#article-container code {
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  margin: 0 4px;
  line-height: 2;
  box-shadow: var(--anzhiyu-shadow-border);
}

/* 代码引用颜色 */
#article-container code {
  animation: lighterBackgroundColor 0.001s 0.85 linear forwards;
}

@keyframes lighterBackgroundColor {
  from {
    background-color: var(--anzhiyu-code-stress);
  }

  to {
    background-color: #fff0;
  }
}

#article-container code {
  color: var(--anzhiyu-code-stress);
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}
#post-comment blockquote {
  background: var(--anzhiyu-secondbg);
  border: var(--style-border);
  box-shadow: none;
  margin: 0px 0px 0.5rem;
  font-size: 12px;
  color: var(--anzhiyu-secondtext);
  border-radius: 8px;
}
